header{
    background-color: #47a1ff;
    background-image: url('../images/pattern.png');
    background-repeat: repeat-x;
}
h1{
    margin-bottom: 0px;
}
.autore{
    margin-top: 0px;
    color: grey;
}
a{
    text-decoration: none;
    color: #47a1ff;
}
figcaption{
    font-size: 10px;
}
.highlighted{
    background-color: yellow;
}
thead{
    color: white;
    background-color: #47a1ff;
}
.Sky{
    background-color: lightblue;
}