header{
    background-color: #47a1ff;
    background-image: url('../images/pattern.png');
    background-repeat: repeat-x;
}
h1{
    margin-bottom: 0px;
}
.autore{
    margin-top: 0px;
    color: grey;
}
a{
    text-decoration: none;
    color: #47a1ff;
}
figcaption{
    font-size: 10px;
}
.highlighted{
    background-color: yellow;
}
thead{
    color: white;
    background-color: #47a1ff;
}
.Sky{
    background-color: lightblue;
}
.suggestion{
    color: grey;
}
.picture,
.picture2{
    color: white;
    background-repeat: no-repeat;
    width: 400px;
    height: 250px;
}
.picture{
    background-image: url('../images/monitor.jpg');
}
.picture2{
    background-image: url('../images/graph.jpg');
}
.space{
    
    margin: 20px;
    font-size: 18px;
}
.contenitore{
    width: 1000px;
    margin: auto;
}